name: CI Build

on:
  push:
    branches:
      - main
      - master
      - 'v*'
  pull_request: {}
  schedule:
    - cron: '0 3 * * *' # daily, at 3am

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: ['22', '24']

    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
        with:
          install_args: node@${{ matrix.node }}
      - name: install dependencies
        run: npm install
      - name: build
        run: npm run build
      - name: test
        run: npm test
